/* put your css code here */
.crop-img{
	height: 200px;
  max-width:100%;
}

.large-img{
  max-width:100%;
}

body {
		background-color: whitesmoke;
}
/*.carousel-img{
    margin: auto;
    padding: 10px;
    max-height:300px;
    max-width:100%;

}*/

.thumbnail,.nav, .large-img, .crop-img{
  border-radius: 25px;
  padding-top:5px;
}



